@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@200;300;400;500;600;700&display=swap');

* {
    font-family: 'Readex Pro', sans-serif;
}

body {
    background: var(--bg-linear-all) fixed;
}

.home__center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.home__title__container {
    width: 913px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home__title {
    width: 100%;
    text-align: center;
    overflow: hidden;
    font-size: 40px;
    line-height: 50px;
    color: var(--color-white);

}

.home__title__gradient {
    background: var(--color-gradientText);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.home__btn {
    background: #8821FF;
    width: 241px;
    height: 61px;
    border-radius: 10px;
    color: var(--color-white);
    border: none;
    font-size: 30px;
    line-height: 38px;
    cursor: pointer;
    margin: 70px 0 0 130px;
}

.home__title__span {
    background: var(--color-white);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}



@media (max-width: 768px) {
    .home__container {
        width: 513px;
        height: 580px;
        margin-bottom: 20px;
    }

    .home__center {
        padding-top: 300px;
    }

    .home__title__container {
        width: 513px;
    }
}

@media (min-width: 320px) and (max-width: 430px) {
    .home__container {
        width: 280px;
        height: 550px;
    }

    .home__center {
        padding-top: 300px;
    }

    .home__title__container {
        width: 213px;
        padding-left: 80px;
        padding-bottom: 80px;
        text-align: center;
    }

    .home__btn {
        margin: 70px 0 0 20px;
    }
}