@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@200;300;400;500;600;700&display=swap');
* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Readex Pro', sans-serif;
}

html{
    min-height: 100vh;
    width: 100vw;
}

body{
    height: 100vh;
    width: 100vw;
}

.servicioscontainer{
    height: 100vh;
    background: rgb(24,24,24);
background: linear-gradient(90deg, rgba(24,24,24,1) 31.27%, rgba(24,24,24,1) 52.87%, rgba(70,69,69,1) 99.97%, rgba(70,69,69,1) 99.98%);
}

h1{
    background: linear-gradient(269.84deg, #FFFFFF 29.14%, #D7B4FF 43.27%, #D7B4FF 43.7%, #BC81FF 56.13%, #9C46FF 69.02%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;

font-size: 40px;
font-weight: 700;
}