


=======
@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

:root {
    --violet-gradient: linear-gradient(269deg, rgba(255,255,255,1) 0%, rgba(215,180,255,1) 16.91%, rgba(215,180,255,1) 35.94%, rgba(188,129,255,1) 53.44%, rgba(156,70,255,1) 73.98%);
    --font-Readex-pro: 'Readex Pro', sans-serif;
    --font-Roboto: 'Roboto', sans-serif;
    --color-violet: #8A24FF;
    --color-white: #fafafa;
    --bg-linear-all: linear-gradient(115deg, rgba(24, 24, 24, 1) 0.8%, rgba(36, 21, 44, 1) 64.76%, rgba(70, 69, 69, 1) 99.97%, rgba(70, 69, 69, 1) 99.98%, rgba(75, 46, 89, 1) 100%, rgba(70, 69, 69, 1) 100%);
    --bg-linear-welcome: linear-gradient(90deg, rgba(24, 24, 24, 1) 31.27%, rgba(24, 24, 24, 1) 52.87%, rgba(70, 69, 69, 1) 99.97%, rgba(70, 69, 69, 1) 99.98%);
    --color-gradientText: linear-gradient(269.84deg, #FFFFFF 0.32%, #D7B4FF 21.24%, #D7B4FF 44.77%, #BC81FF 66.42%, #9C46FF 91.84%);

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    font-size: 62.5%;
}

.hero__form-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--color-white);
    width: 40.5rem;
    min-height: 50rem;
    border-radius: 1rem;
}

.form__inputs-container {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.form__label {
    align-self: stretch;
    font-family: var(--font-Readex-pro);
    font-weight: 700;
    font-size: 1.5rem;
    color: var(--color-violet);
}

.form__input {
    border: none;
    border-bottom: .2rem solid #C0C0C0;
    width: 100%;
    outline: none;
}

.btn {
    width: 20rem;
    height: 4rem;
    background: var(--color-violet);
    color: var(--color-white);
    border: none;
    outline: none;
    border-radius: 1rem;
>>>>>>> 76c0234b5eab37dd4588df030ce23533e9fb2c95
}