body {
    background: var(--bg-linear-all) fixed;
}

.button__back__container {
    padding: 20px;
}

.form__container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero {
    height: calc(100vh - 10rem);

}

.btn__addCbu {
    background: transparent;
    border: none;
    color: var(--color-violet);
    font-family: var(--font-Readex-pro);
    cursor: pointer;
    font-size: 1.5rem;
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    background: rgba(54, 52, 52, 0.151);
    box-shadow: 0 8px 32px 0 rgb(31 38 135 / 37%);
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(1px);
}

.search__card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--color-white);
    width: 40rem;
    height: 20rem;
    border-radius: 1rem;
    padding: 0 1rem;
    gap: 1rem;
    position: relative;

}

.form--search {
    min-height: 40rem;
}

.dataUser__p {
    font-family: var(--font-Readex-pro);
    font-size: 1.5rem;
    text-align: center;
    overflow-x: hidden;
}

.dataUser {
    text-align: center;
    overflow-wrap: break-word;
    font-family: var(--font-Readex-pro);
    font-size: 1.4rem;
    font-weight: 300;
    width: 20rem;
    padding: 1rem;
}