/* @import url(/styles/style.css); */

.header {
    width: 100%;
    height: 6rem;
    display: flex;
    align-items: center;
    background-color: #181818;

}

.logo {
    padding-left: 2rem;
}

.logo__text {
    font-family: var(--font-Readex-pro);
    font-weight: 700;
    color: var(--color-white);
    font-size: 3rem;

}

.logo__span {
    background: var(--color-gradientText);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero {
    display: flex;
    background: var(--bg-linear-welcome);
    height: calc(100vh - 6rem);
}

.hero__text-cont-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
    gap: 2rem;
}

.hero__title {
    font-family: var(--font-Readex-pro);
    font-weight: 700;
    font-size: 6rem;
    width: 90%;
    color: var(--color-white);
}

.hero__span-title {
    background: var(--color-gradientText);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero__p {
    font-family: var(--font-Roboto);
    font-weight: 400;
    color: #C0C0C0;
    font-size: 3rem;
    width: 90%;
    letter-spacing: .2rem;
}

.hero__img {
    width: 40rem;
}

.form--login {
    min-height: 40rem;
    width: 50rem;
}

.input__span-error {
    font-size: 1.2rem;
    font-family: var(--font-Readex-pro);
    font-weight: 600;
    align-self: flex-start;
    color: red;
}